###  https://wikidocs.net/24559 참고링크

# <font color = "green">문서단어행렬(Document-Term Matrix , DTM) </font>
- 각 문서에 대한 Bow 표현 방법을 그대로 갖고와서 , 서로 다른 문서들의 Bow 결합한 표현방법
- 행과 열을 반대로 선택하면 TDM 이라고 부른다고 함

# 1. 문서 단어 행렬의 표기법
- 예시로 써보면 아래와 같이 사용됨

문서1 : 먹고 싶은 사과<br>
문서2 : 먹고 싶은 바나나<br>
문서3 : 길고 노란 바나나 바나나<br>
문서4 : 저는 과일이 좋아요<br>

과일이| 길고 |노란  |먹고|바나나|사과|싶은|저는|좋아요
---   |---   |---   |--- |---   |--- |--- |--- |--- 
문서1|	0   |0	   |0	|1	|0	|1	|1	|0	|0
문서2|	0   |0	   |0	|1	|1	|0	|1	|0	|0
문서3|	0	|1	   |1	|0	|2	|0	|0	|0	|0
문서4|	1	|0	   |0	|0	|0	|0	|0	|1	|1

- 위 4개의 문서를 문서단어행렬로 표기한것

# 2. 문서 단어 행렬의 한계 
- DTM은 매우 간단하고 구현하기도 쉽지만 , 본질적으로 많은 한계가 존재한다

#### 1) 희소표현(Sparse representation)
- 원핫벡터는 단어 집합의 크기가 벡터의 차원ㅇ ㅣ되고 , 대부분의 값이 0이 된다는 특징을 갖는다
- 이 특징으로 인해 공간적 낭비와 계산 리소스를 증가시킨다.
- 이러한 단점이 DTM에도 그대로 존재한다 . 
- 그래서 빈도수가 낮은 단어와 , 불용어를 제거하는 등 , 전처리 방법이 중요하다

2) 단순 빈도 수 기반 접근
- 여러 문서에 등장하는 모든 단어에 대해서 빈도 표기를 하는 이런 방법은 때로는 한계를 가지기도 한다 . 
- 예를들어 각 문서1, 문서2, 문서3이 동일하게 the가 빈도수가 높다고 해서 , 세개의 문서가 유사한 문서라고 판단 할 수 없을 것이다.
- 그래서 불용어 처리 또한 중요하지만 , 단어별로 가중치를 두는것 또한 중요 
- 이러한 가중치문제를 두기 위해서 TF-IDF를 주로 사용함

# <font color = "green">TF-IDF (Term Frequency-Inverse Document Frequency)</font>
- 단어의 빈도와 역 문서 빈도(문서의 빈도에 특정식을 사용)를 통해 DTM 내의 각 단어들마다 중요한 정도를 가중치로 주는 방법이다.
- 사용 방법은 우선 DTM을 만든 후 , TF-IDF 가중치를 부여한다

-TF-IDF는 주로 문서의 유사도를 구하는 작업 , 검색 시스템에서 검색 결과의 중요도를 정하는 작업, 문서 내에서 특정 단어의 중요도를 구하는 작업 등에 쓰임

- TF-IDF는 TF와 IDF를 공한값을 의미한다.
    - 문서 : d
    - 단어 : t ,
    - 문서의 총 개수 : n
    - 이때 TF, DF , IDF는 각각 아래와 같이 정의됨

### (1)TF(d,t) : 특정 문서 d에서의 특정 단어 t의 등장 횟수
- TF는 위에 행렬로 작성한 DTM예제에서 각 단어들이 가지는 값이다.
- DTM이 각 문서에서의 각 단어의 등장 빈도를 나타나는 값이었기때문에 DTM값이라 이해하자

### (2) DF(t) : 특정 단어 t가 등장한 문서의 수
- 여기서는 특정 단어가 각 문서, 또는 문서들에서 몇 번 등장했는지는 관심X
- 오로지 , 특정 단어 t가 등장한 문서의 수에만 관심을 갖는다 . 
- 앞서 배운 DTM에서 "바나나"는 문서2와 문서3에 등장하였으므로 , DF(바나나) = 2
    - 심지어 바나나라는 단어가 문서2에서 3000번이 나왓다해도 df(바나나) = 2이다.

### (3) idf(d,t) : df(t)에 반비례 하는 수

$$ idf_{d,t} = log{n \over (1 + df_{t})}$$

- IDF 는 df의 inverse(역수)를 의미한다.
- 여기서 log 를 씌워주는 이유는 값이 매우 커질때가 많아서 정규화 시켜주기 위함이다
- 1을 더하는것은 df=0일때 log(0) 이 무한대로 수렴하는것을 방지

### 위의 DTM 행렬을 통한 idf 계산

단어	|IDF(역 문서 빈도)
--- | ---
과일이|	ln(4/(1+1)) = 0.693147
길고	|ln(4/(1+1)) = 0.693147
노란	|ln(4/(1+1)) = 0.693147
먹고	|ln(4/(2+1)) = 0.287682
바나나	|ln(4/(2+1)) = 0.287682
사과	|ln(4/(1+1)) = 0.693147
싶은	|ln(4/(2+1)) = 0.287682
저는	|ln(4/(1+1)) = 0.693147
좋아요	|ln(4/(1+1)) = 0.693147

### 위의 DTM 행렬을 통한 TD-IDF 계산

-	|과일이	|길고	|노란	|먹고	|바나나	|사과	|싶은	|저는	|좋아요
--- |---       |---  |---  |---  |---       |---  |---  |---  |--- 
문서1	|0	|0	|0	|0.287682	|0	|0.693147	|0.287682	|0	|0
문서2	|0	|0	|0	|0.287682	|0.287682	|0	|0.287682	|0	|0
문서3	|0	|0.693147	|0.693147	|0	|0.575364	|0	|0	|0	|0
문서4	|0.693147	|0	|0	|0	|0	|0	|0	|0.693147	|0.693147

# 3. 파이썬으로 TF-IDF 직접 구현하기

In [5]:
import pandas as pd
from math import log

docs = [
  '먹고 싶은 사과',
  '먹고 싶은 바나나',
  '길고 노란 바나나 바나나',
  '저는 과일이 좋아요'
] 
vocab = list(set(w for doc in docs for w in doc.split()))
vocab.sort()

In [6]:
N = len(docs)

def tf(t, d):
    return d.count(t)

def idf(t):
    df = 0
    for doc in docs:
        df += t in doc
    return log(N/(df+1))

def tfidf(t, d):
    return tf(t,d) * idf(t)

In [7]:
result = []
for i in range(N): # 각 문서에 대해서 아래 명령을 수행
    result.append([])
    d = docs[i]
    for j in range(len(vocab)):
        t = vocab[j]        
        result[-1].append(tf(t, d))

tf_ = pd.DataFrame(result, columns = vocab)
tf_

   과일이  길고  노란  먹고  바나나  사과  싶은  저는  좋아요
0    0   0   0   1    0   1   1   0    0
1    0   0   0   1    1   0   1   0    0
2    0   1   1   0    2   0   0   0    0
3    1   0   0   0    0   0   0   1    1

In [8]:
result = []
for j in range(len(vocab)):
    t = vocab[j]
    result.append(idf(t))

idf_ = pd.DataFrame(result, index = vocab, columns = ["IDF"])
idf_

          IDF
과일이  0.693147
길고   0.693147
노란   0.693147
먹고   0.287682
바나나  0.287682
사과   0.693147
싶은   0.287682
저는   0.693147
좋아요  0.693147

In [9]:
result = []
for i in range(N):
    result.append([])
    d = docs[i]
    for j in range(len(vocab)):
        t = vocab[j]

        result[-1].append(tfidf(t,d))

tfidf_ = pd.DataFrame(result, columns = vocab)
tfidf_

,과일이,길고,노란,먹고,바나나,사과,싶은,저는,좋아요
0,0.000000,0.000000,0.000000,0.287682,0.000000,0.693147,0.287682,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.287682,0.287682,0.000000,0.287682,0.000000,0.000000
2,0.000000,0.693147,0.693147,0.000000,0.575364,0.000000,0.000000,0.000000,0.000000
3,0.693147,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.693147,0.693147

# 4. 사이킷런을 이용한 DTM과 TF-IDF 실습

##### (1) DTM

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
corpus = [
    'you know I want your love',
    'I like you',
    'what should I do ',    
]
vector = CountVectorizer()
print(vector.fit_transform(corpus).toarray()) # 코퍼스로부터 각 단어의 빈도 수를 기록한다.
print(vector.vocabulary_) # 각 단어의 인덱스가 어떻게 부여되었는지를 보여준다.

[[0 1 0 1 0 1 0 1 1]
 [0 0 1 0 0 0 0 1 0]
 [1 0 0 0 1 0 1 0 0]]
{'you': 7, 'know': 1, 'want': 5, 'your': 8, 'love': 3, 'like': 2, 'what': 6, 'should': 4, 'do': 0}

##### (2) TF-IDF

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer
corpus = [
    'you know I want your love',
    'I like you',
    'what should I do ',    
]
tfidfv = TfidfVectorizer().fit(corpus)
print(tfidfv.transform(corpus).toarray())
print(tfidfv.vocabulary_)

[[0.         0.46735098 0.         0.46735098 0.         0.46735098
  0.         0.35543247 0.46735098]
 [0.         0.         0.79596054 0.         0.         0.
  0.         0.60534851 0.        ]
 [0.57735027 0.         0.         0.         0.57735027 0.
  0.57735027 0.         0.        ]]
{'you': 7, 'know': 1, 'want': 5, 'your': 8, 'love': 3, 'like': 2, 'what': 6, 'should': 4, 'do': 0}